@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?5439408');
  src: url('../font/fontello.eot?5439408#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?5439408') format('woff2'),
       url('../font/fontello.woff?5439408') format('woff'),
       url('../font/fontello.ttf?5439408') format('truetype'),
       url('../font/fontello.svg?5439408#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="pw-icon-"]:before, [class*=" pw-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  
  font-variant: normal;
  text-transform: none;
 
  
  line-height: 1em;
 
 
  margin-left: .2em;
 
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

}
 
.pw-icon-menu:before { content: '\e800'; } /* 'Ó Ä' */
.pw-icon-gplus:before { content: '\e801'; } /* 'Ó Å' */
.pw-icon-doc-text:before { content: '\e802'; } /* 'Ó Ç' */
.pw-icon-spotify-1:before { content: '\e803'; } /* 'Ó É' */
.pw-icon-apple:before { content: '\e809'; } /* 'Ó â' */
.pw-icon-down-open-big:before { content: '\e80b'; } /* 'Ó ã' */
.pw-icon-angle-down:before { content: '\e80c'; } /* 'Ó å' */
.pw-icon-circle-empty:before { content: '\e80d'; } /* 'Ó ç' */
.pw-icon-check:before { content: '\e80f'; } /* 'Ó è' */
.pw-icon-check-empty:before { content: '\e810'; } /* 'Ó ê' */
.pw-icon-plus:before { content: '\e823'; } /* 'Ó £' */
.pw-icon-facebook:before { content: '\e825'; } /* 'Ó •' */
.pw-icon-twitter:before { content: '\e826'; } /* 'Ó ¶' */
.pw-icon-linkedin-squared:before { content: '\e827'; } /* 'Ó ß' */
.pw-icon-pinterest-circled:before { content: '\e829'; } /* 'Ó ©' */
.pw-icon-github-circled:before { content: '\e82a'; } /* 'Ó ™' */
.pw-icon-behance:before { content: '\e82b'; } /* 'Ó ´' */
.pw-icon-dribbble:before { content: '\e82c'; } /* 'Ó ¨' */
.pw-icon-instagram:before { content: '\e82d'; } /* 'Ó ≠' */
.pw-icon-lastfm:before { content: '\e82e'; } /* 'Ó Æ' */
.pw-icon-rss:before { content: '\e82f'; } /* 'Ó Ø' */
.pw-icon-vimeo-squared:before { content: '\e830'; } /* 'Ó ∞' */
.pw-icon-forrst:before { content: '\e831'; } /* 'Ó ±' */
.pw-icon-skype:before { content: '\e832'; } /* 'Ó ≤' */
.pw-icon-picasa:before { content: '\e833'; } /* 'Ó ≥' */
.pw-icon-youtube-play:before { content: '\e834'; } /* 'Ó ¥' */
.pw-icon-flickr:before { content: '\e835'; } /* 'Ó µ' */
.pw-icon-tumblr:before { content: '\e836'; } /* 'Ó ∂' */
.pw-icon-blogger:before { content: '\e837'; } /* 'Ó ∑' */
.pw-icon-delicious:before { content: '\e838'; } /* 'Ó ∏' */
.pw-icon-digg:before { content: '\e839'; } /* 'Ó π' */
.pw-icon-friendfeed:before { content: '\e83a'; } /* 'Ó ∫' */
.pw-icon-wordpress:before { content: '\e83b'; } /* 'Ó ª' */
.pw-icon-stackoverflow:before { content: '\e83c'; } /* 'Ó º' */
.pw-icon-foursquare:before { content: '\e83d'; } /* 'Ó Ω' */
.pw-icon-xing:before { content: '\e83e'; } /* 'Ó æ' */
.pw-icon-sina-weibo:before { content: '\e83f'; } /* 'Ó ø' */
.pw-icon-soundcloud:before { content: '\e840'; } /* 'Ó°Ä' */
.pw-icon-fivehundredpx:before { content: '\e841'; } /* 'Ó°Å' */
.pw-icon-slideshare:before { content: '\e842'; } /* 'Ó°Ç' */
.pw-icon-android:before { content: '\e843'; } /* 'Ó°É' */
.pw-icon-windows:before { content: '\e845'; } /* 'Ó°Ö' */
.pw-icon-vkontakte:before { content: '\e846'; } /* 'Ó°Ü' */
.pw-icon-myspace:before { content: '\e847'; } /* 'Ó°á' */
.pw-icon-meetup:before { content: '\e848'; } /* 'Ó°à' */
.pw-icon-reddit:before { content: '\e84a'; } /* 'Ó°ä' */
.pw-icon-stumbleupon-circled:before { content: '\e84b'; } /* 'Ó°ã' */
.pw-icon-path:before { content: '\e84c'; } /* 'Ó°å' */
.pw-icon-dropbox:before { content: '\e84d'; } /* 'Ó°ç' */
.pw-icon-deviantart:before { content: '\e850'; } /* 'Ó°ê' */
.pw-icon-grooveshark:before { content: '\e851'; } /* 'Ó°ë' */
.pw-icon-steam:before { content: '\e853'; } /* 'Ó°ì' */
.pw-icon-quora:before { content: '\e854'; } /* 'Ó°î' */
.pw-icon-angellist:before { content: '\e855'; } /* 'Ó°ï' */
.pw-icon-icq:before { content: '\e856'; } /* 'Ó°ñ' */
.pw-icon-vine:before { content: '\e863'; } /* 'Ó°£' */
.pw-icon-left-open-big:before { content: '\e86d'; } /* 'Ó°≠' */
.pw-icon-right-open-big:before { content: '\e86e'; } /* 'Ó°Æ' */
.pw-icon-up-open-big:before { content: '\e86f'; } /* 'Ó°Ø' */
.pw-icon-circle:before { content: '\e870'; } /* 'Ó°∞' */
.pw-icon-circle-thin:before { content: '\e88d'; } /* 'Ó¢ç' */
.pw-icon-minus:before { content: '\e89a'; } /* 'Ó¢ö' */